<div class="container">
  <h1>Welcome to Mini Craigslist!</h1>

  <form name = "create_post" action= "/create_post" method= "get">
    <input type= "submit" value="Start posting"> 
  </form>
  <br><br>
  <table>
    <% Category.all.each do |cat| %>
    <tr>
      <td> <a href="/<%= cat.name%>"><%= cat.name%></a></td>
    </tr>
    <% end %>
  </table>
</div>




